<!doctype html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0"/>
    <title>{{ .Title }}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/mittagsbetreuung-feldmoching.de.css?v=2">
</head>
<body class="d2c_{{ .File.BaseFileName }}" >
				<div id="site-logo" class="title-right noprint"><a href="/" class="custom-logo-link" rel="home"><img src="/Logo_MB_150x150dpi.png" class="custom-logo" alt="Elterninitiative Mittagsbetreuung Grundschule &#8211; Lerchenauer Str. 322" /></a></div><!-- #site-logo -->
    <div id="header" class="panel">
    <header>
                <div id="site-details" class="normal">
							<h1 id="site-title">
                                Elterninitiative Mittagsbetreuung<br/>
                                Grundschule an der Lerchenauer Str. 322</h1>
                </div>
    </header>
    </div>
    <img src="/cropped-Schule-4.jpg" class="schulhof noprint">
    <div id="header-menu" class="noprint">
        <nav id="access" role="navigation">
            <div class="menu-header-container wrapper panel"><ul class="menu">
{{- range site.Menus.main }}
  <li><a href="{{ .URL }}">
    {{ .Name }}
    {{- with .Page }}
      {{- with .Params.version -}}
        ({{ . }})
      {{- end }}
    {{- end }}
  </a></li>
{{- end }}
</ul></div>
            </nav><!-- #access -->
        </div><!-- #header-menu -->    
    <div id="main" class="panel cb main-{{ .File.BaseFileName }}" role="main" >
        <section>
            <article>
{{ .Content }}            
            </article>
        </section>
    </div>
    <div id="footer" class="panel cb" role="contentinfo" >
    <footer>
        <p><a href="/kontakt">Kontakt</a> | <a href="/impressum">Impressum</a></p>
    </footer>
    </div>
</body>
</html>
